.SearchBoxWrapper {
    input {
        padding: 4px 4px 4px 24px;
        max-width: 225px;
        min-width: 100px;
        background-position: 4px center;
        background-size: 18px;
        background-repeat: no-repeat;
        background-image: url("../CW icons/⭕ Action/Search.svg");
    }
}
